.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 2vh; */
    /* margin: 0; */
    max-width: 100%;

    aspect-ratio: 9 / 1;

    background-color:#695E93;
}

.centerHeight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

#personalBrandLogo {
    height: 150px
}

#personalLogo img {
    max-height: 20vh;
}

.menuItems {
    align-self: flex-end;
    justify-content: space-between;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 75%;
}

.menuItems a {
    font-family: 'Offside', cursive;
    color: #BEAFC2;
    text-decoration: none;
    font-size: 18pt;
}

#instructions	{
	text-align:center;
}

#buttons	{
	background-color:white;
	width:300px;
	margin-right:auto;
	margin-left:auto;
}

#tictactitle {
	text-align: center;
}

.CPUclass {
	background-color: #ff0000;
}

.USERclass {
	background-color: #00ff00;
}
