#header {
    overflow: hidden;
}

#menuBar {
    background-color:#695E93;
    display: block;
    box-shadow: 0px 8px 4px 4px #000000;
  }

#menuBar table {
    border: none;
    float: right;
    padding-top: 100px;
}
  
#menuBar td {
    text-align: center;
    width: 120px;
}

#menuBar a {
    font-family: 'Offside', cursive;
    color: #BEAFC2;
    text-decoration: none;
    font-size: 18pt;
}

#menuBar a:hover {
    color:#EEEEEE;
}

/* Change the link color to #111 (black) on hover */
#menuBar li a:hover {
    background-color: #281C2D;
}

#personalPic {
    position: absolute;
    width: 100%;
    aspect-ratio: 5 / 2;
    object-fit: cover;
    object-position: 0 43%;
}

#nameTitle p{
    text-align: center;
    font-family: 'Offside', cursive;
    color: #281C2D;
}

